div.coin-chart {
    background-color: none;;
}

div.coin-chart-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


div.coin-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

div.coin-price p {
    margin: 0;
}

img.coin-logo {
    height: 35px;
    width: auto;
}

h4 {
    margin: 0;
}