div.wallet-widget {
    background-color: none;
}

div.wallet-widget-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

div.img-name-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.img-cont {
    margin: 0 10px 0 0;
}

div.coin-price {
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

div.coin-price p {
    margin: 0;
}
